<div class="grid-data link">
    <a href="https://www.kambi.com/job-detail?jobID=130891" class="coh-link  coh-style-cc-btn-primary">Apply</a>
</div> </li>
<li data-title="agile development manager" class="tb-data-single-job-list isoItemLi list-group-item Bucharest IT">
    <div class="grid-data">
        <h5>Agile Development Manager</h5>
        <a href="https://www.kambi.com/job-detail?jobID=131175" class="read-more">read more</a>
    </div>
    <div class="grid-data location">
        Bucharest
    </div>
    <div class="grid-data department">
        IT
    </div>
    <div class="grid-data link">
        <a href="https://www.kambi.com/job-detail?jobID=131175" class="coh-link  coh-style-cc-btn-primary">Apply</a>
    </div> </li>
<li data-title="linux platform developer" class="tb-data-single-job-list isoItemLi list-group-item Stockholm IT">
    <div class="grid-data">
        <h5>Linux Platform Developer</h5>
        <a href="https://www.kambi.com/job-detail?jobID=131368" class="read-more">read more</a>
    </div>